<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="ref"/>
		</assemblyBinding>
	</runtime>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=NATTZY\SQLEXPRESS;Initial Catalog=Randomville;Integrated Security=True"
     providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>